.tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  
  position: absolute;
  z-index: 2;

  top: -5px;
  right: 105%; 
}

 
.tooltip__div-visible {
  position: relative;
  display: inline-block;
}

.tooltip__div-visible:hover .tooltiptext {
  visibility: visible;
}